---
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataBooleanKeyword = {
    kind: "BooleanKeyword";
    id: number;
};

interface Props extends DataTypeProps {
    data: TypeDataBooleanKeyword;
}
---

<span data-dg-boolean-keyword data-dg-primitive>boolean</span>
