---
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataNullKeyword = {
    kind: "NullKeyword";
    id: number;
};

interface Props extends DataTypeProps {
    data: TypeDataNullKeyword;
}
---

<span data-dg-null-keyword data-dg-primitive>null</span>
