---
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataStringKeyword = {
    kind: "StringKeyword";
    id: number;
};

interface Props extends DataTypeProps {
    data: TypeDataStringKeyword;
}
---

<span data-dg-string-keyword data-dg-primitive>string</span>
