---
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataNumberKeyword = {
    kind: "BooleanKeyword";
    id: number;
};

interface Props extends DataTypeProps {
    data: TypeDataNumberKeyword;
}
---

<span data-dg-number-keyword data-dg-primitive>number</span>
