---
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataStringKeyboard = {
    kind: "StringKeyboard";
    id: number;
};

interface Props extends DataTypeProps {
    data: TypeDataStringKeyboard;
}
---

<span data-dg-string-keyword data-dg-primitive>string</span>
