---
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataAnyKeyword = {
    kind: "AnyKeyword";
    id: number;
};

interface Props extends DataTypeProps {
    data: TypeDataAnyKeyword;
}
---

<span data-dg-any-keyword data-dg-primitive>any</span>
