---
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataNumberKeyboard = {
    kind: "BooleanKeyboard";
    id: number;
};

interface Props extends DataTypeProps {
    data: TypeDataNumberKeyboard;
}
---

<span data-dg-number-keyword data-dg-primitive>number</span>
