{
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "strict",
    "printWidth": 160,
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
