---
const { data } = Astro.props;
const jsDoc = data.jsDoc || {};
const doc = jsDoc.doc || "";
import { marked } from "marked";
---

<span class="prose">
    {
        doc.map((e: any) => (
            <>
                {e.kind === "JSDocText" && <>{e.text}</>}
                {
                    e.kind === "JSDocLink" && (
                        <a
                            class="text-primary decoration-transparent"
                            set:html={marked.parseInline(e.text, {})}
                            href={`#${e.name}`}
                        ></a>
                    )
                }
            </>
        ))
    }
</span>
