---
import JSDocDescription from "./JSDocDescription.astro";
import JSDocTag from "./JSDocTag.astro";

const { data } = Astro.props;
const jsDoc = data.jsDoc || {};
---

<p class="prose">
    {
        typeof jsDoc.doc === "object" ? (
            <JSDocDescription data={data} />
        ) : jsDoc.doc
    }
    {
        jsDoc.tags
        && Object.entries(jsDoc?.tags)?.map(([name, items]) => (
            <JSDocTag tag={name} items={items as string[]} />
        ))
    }
</p>
