---
import TypeSignature from "./TypeSignature.astro";

const { data } = Astro.props;
const typeParams = data?.typeArguments || data?.typeParameters;
if (!typeParams) return;
---

<span>{"<"}{
    typeParams.map((p: any, i: number) => (
        <><TypeSignature data={p} />{i === typeParams.length - 1 ? "" : ", "}</>
    ))
}{">"}</span>
