<dialog id="type-modal" class="modal">
    <div class="modal-box absolute right-4 lg:h-96 overflow-y-auto w-fit">
        <div class="flex justify-end gap-2">
            <a id="go-to" class="btn btn-ghost" href="">Go To</a>
            <a id="open-in-new" class="btn btn-ghost" href="" target="_blank"
            >Open in new tab</a>
        </div>
        <div id="modal-type"></div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button class="cursor-default">close</button>
    </form>
</dialog>

<script>
    import { openExample } from "@/stores/docStore";

    const modal = document.querySelector<HTMLDialogElement>("#type-modal");
    const modalContent = document.querySelector("#modal-type");
    const goToLink = document.querySelector("#go-to");
    const openInNewLink = document.querySelector("#open-in-new");

    if (!modalContent) {
        throw new Error("Modal content not found");
    }

    goToLink?.addEventListener("click", (e) => {
        modal?.close();
    });

    openExample.subscribe((value) => {
        const typeRef = document.getElementById(value);
        if (!typeRef) return;

        const typeContent = typeRef.cloneNode(true);
        modalContent.innerHTML = "";
        modalContent.appendChild(typeContent);

        goToLink?.setAttribute("href", `#${value}`);
        openInNewLink?.setAttribute("href", `#${value}`);

        modalContent.querySelectorAll("[data-link-type]").forEach((el) => {
            el.addEventListener("click", () => {
                const type = el.getAttribute("data-link-type");
                if (!type) return;

                openExample.set(type);
                modal?.showModal();
            });
        });
    });
</script>
