---
import { Code } from "astro:components";
import CustomCode from "../Content/CustomCode.astro";

export interface Props {
    tag: string;
    items: any[];
    paramName?: string;
}

const { tag, items, paramName } = Astro.props;

const getItem = (items: any[]) => {
    return items.flat?.()[0]?.text ?? items[0] ?? "";
};
---

{
    (
        <Fragment>
            {tag === "example" ? (
                <CustomCode code={items.join("").replace(/^```js\s+|```$/g, "")} data-language="js" data-jsdoc-example classForWindow="my-4" />
            ) : tag === "param" ? (
                <p class="prose" data-jsdoc-tag>
                    <code data-jsdoc-name class="py-0.5 px-1.5 font-medium">
                        {tag}
                    </code>{" "}
                    <span data-jsdoc-describe>{paramName ?? "unknown"}</span> <span data-jsdoc-value>{getItem(items)}</span>
                </p>
            ) : (
                <p class="prose" data-jsdoc-tag>
                    <code data-jsdoc-name class="py-0.5 px-1.5 font-medium">
                        {tag}
                    </code>{" "}
                    <span data-jsdoc-value>{getItem(items)}</span>
                </p>
            )}
        </Fragment>
    )
}
