---
import Game from "@/components/Arcade/Game.astro";
import gameList from "@/data/games.json";
import NavbarPage from "@/layouts/NavbarPage.astro";
import { getStaticPathsByLocales } from "@/util/path";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { lang } = Astro.props;
---

<NavbarPage
    {lang}
    meta={{
        title:
            "KAPLAY.js Arcade, a lot of HTML5 and web games made with KAPLAY",
        description:
            "KAPLAY Arcade is a videogames website where you can play games and know about them",
        keywords: "games, free games, HTML5 games",
    }}
>
    <meta name="robots" content="noindex, nofollow" slot="head" />

    <main class="h-full p-4">
        <h1 class="text-center text-5xl font-bold">KAPLAY Arcade</h1>
        <p class="text-center text-lg">
            A collection of games using KAPLAY, super fresh and super fun!
        </p>

        <div class="flex flex-wrap items-center justify-center gap-20 p-20">
            <Game id={0} featured />
            <Game id={1} featured />
        </div>

        <h2 class="text-center text-4xl font-bold">All Games</h2>

        <div class="flex flex-wrap items-center justify-center gap-20 p-20">
            {gameList.map((game) => <Game id={game.id} />)}
        </div>
    </main>
</NavbarPage>
