---
import FeaturedGame from "@/components/Arcade/FeaturedGame.astro";
import Navbar from "@/components/Land/Navbar.astro";
import Page from "@/layouts/Page.astro";
import { getStaticPathsByLocales } from "@/util/path";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { lang } = Astro.props;
---

<Page
    {lang}
    meta={{
        title: "KAPLAY.js Arcade, a lot of HTML5 and web games made with KAPLAY",
        description:
            "KAPLAY Arcade is a videogames website where you can play games and know about them",
        keywords: "games, free games, HTML5 games",
    }}>
    <header>
        <Navbar />
    </header>
    <main class="lg:pt-20">
        <div class="flex max-h-64 items-center justify-center gap-20 p-20">
            <FeaturedGame id={0} />
            <FeaturedGame id={1} />
        </div>
    </main>
</Page>
