---
import FeaturedGame from "@/components/Arcade/FeaturedGame.astro";
import NavbarPage from "@/layouts/NavbarPage.astro";
import { getStaticPathsByLocales } from "@/util/path";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { lang } = Astro.props;
---

<NavbarPage
    {lang}
    meta={{
        title: "KAPLAY.js Arcade, a lot of HTML5 and web games made with KAPLAY",
        description:
            "KAPLAY Arcade is a videogames website where you can play games and know about them",
        keywords: "games, free games, HTML5 games",
    }}>
    <meta name="robots" content="noindex, nofollow" slot="head" />

    <main class="land h-full lg:pt-20">
        <div>
            <h1 class="text-center text-5xl font-bold">Featured games</h1>

            <div class="flex flex-wrap items-center justify-center gap-20 p-20">
                <FeaturedGame id={0} />
                <FeaturedGame id={1} />
            </div>
        </div>
    </main>
</NavbarPage>
