---
import Prose from "@/components/Content/Prose.astro";
import SidebarPage from "@/layouts/SidebarPage.astro";
import { getStaticPathsByLocales } from "@/util/path";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { lang } = Astro.props;
---

<SidebarPage
    lang={lang}
    meta={{
        description: "The books of the KAPLAY Team.",
    }}
    sidebarMode="books"
>
    <Prose>
        <h1>We do books too!</h1>
    </Prose>
</SidebarPage>
