---
import Prose from "@/components/Content/Prose.astro";
import SidebarPage from "@/layouts/SidebarPage.astro";
import { getStaticPathsByLocales } from "@/util/path";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { lang } = Astro.props;
---

<SidebarPage
    lang={lang}
    meta={{
        description: "A collection of blog posts about KAPLAY.",
    }}
>
    <Prose>
        <h1>Community</h1>
        <p>
            KAPLAY has a large community of users and contributors. We are very
            proud of the community that has grown around us. Here, we will share
            some games and content made by the community.
        </p>
    </Prose>

    <div class="flex max-w-screen-lg flex-col gap-4 px-4 pb-4"> </div>
</SidebarPage>
