---
import { CrewList } from "@/components/Crew/CrewList";
import CarbonAd from "@/components/Util/CarbonAd.astro";
import NavbarPage from "@/layouts/NavbarPage.astro";
import { getStaticPathsByLocales } from "@/util/path";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { lang } = Astro.props;
---

<NavbarPage
    {lang}
    meta={{
        title: "KAPLAY Crew Wiki",
        description:
            "The wiki (assets manager) for KAPLAY, where you can browse, download and read about our official assets.",
        keywords:
            "kaplay, kaboom.js, kaplay.js, game, library, javascript, easy, simple, html5, html5 games",
    }}
>
    <div class="flex h-dvh flex-col scroll-smooth">
        <CrewList />
    </div>
</NavbarPage>
