---
import Footer from "@/components/Footer/Footer.astro";
import About from "@/components/Land/About.astro";
import { BlocksSection } from "@/components/Land/Blocks/BlocksSection.tsx";
import Navbar from "@/components/Land/Navbar.astro";
import TestimonialSection from "@/components/Land/TestimonialSection.astro";
import People from "@/components/Util/People.astro";
import Page from "@/layouts/Page.astro";
import { getStaticPathsByLocales } from "@/util/path";
export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { lang } = Astro.props;
---

<Page
    {lang}
    meta={{
        title: "KAPLAY.js, HTML5 Game library for JavaScript and TypeScript. Free & Open Source.",
        description:
            "KAPLAY.js is a JavaScript and TypeScript HTML5 game engine library that makes it easy and fun to create games. Is the successor of Kaboom.js.",
        keywords:
            "kaplay, kaboom.js, kaplay.js, game, library, javascript, easy, simple, html5, html5 games",
    }}
>
    <div class="land | flex flex-col gap-2 scroll-smooth">
        <Navbar />
        <About />
        <BlocksSection />
        <TestimonialSection />
        <People />
        <Footer />
    </div>
</Page>
