---
import Footer from "@/components/Footer/Footer.astro";
import About from "@/components/Land/About.astro";
import Example from "@/components/Land/Example.astro";
import Navbar from "@/components/Land/Navbar.astro";
import Page from "@/layouts/Page.astro";
import { getStaticPathsByLocales } from "@/util/path";
export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { lang } = Astro.props;
---

<Page
    {lang}
    meta={{
        title: "KAPLAY, HTML5 Games library for JavaScript and TypeScript",
        description:
            "KAPLAY is a JavaScript HTML5 game engine library that makes it easy to create games. Is the successor of KABOOM.JS.",
        keywords:
            "kaplay, kaboom.js, kaplay.js, game, library, javascript, easy, simple, html5, html5 games",
    }}
>
    <div class="land | scroll-smooth flex flex-col gap-2">
        <Navbar />
        <About />
        <Example />
        <Footer />
    </div>
</Page>
