---
import ReferenceList from "@/components/Reference/ReferenceList.astro";
import TypePreview from "@/components/TypePreview/TypePreview.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles/reference.css";
import { getStaticPathsByLocales } from "@/util/path";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { t, lang } = Astro.props;
---

<Layout
    meta={{
        title: "KAPLAY, Reference Documentation",
        description:
            "The reference documentation for KAPLAY, here you can learn how the API works.",
        image: "/kaplaylogo.png",
        keywords: "kaplay, reference, documentation, api, kaplayjs, kaboomjs",
    }}
    sidebarMode="reference"
    {t}
    {lang}
>
    <div class="w-full p-4">
        <ReferenceList mode="all" />
    </div>
    <TypePreview />
</Layout>
