---
import DocList from "@/components/Doc/DocList.astro";
import { DocPreview } from "@/components/Doc/DocPreview";
import Layout from "@/layouts/Layout.astro";
import "@/styles/reference.css";
import { getStaticPathsByLocales } from "@/util/path";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { lang } = Astro.props;
---

<Layout
    lang={lang}
    meta={{
        title: "KAPLAY, Reference Documentation",
        description:
            "The reference documentation for KAPLAY, here you can learn how the API works.",
        image: "/kaplaylogo.png",
        keywords: "kaplay, reference, documentation, api, kaplayjs, kaboomjs",
    }}
    sidebarMode="reference"
>
    <div class="w-full p-4">
        <DocList />
    </div>

    <DocPreview />
</Layout>
