---
import DocFor from "../DocFor.astro";
import Title from "../Utils/Title.astro";
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataEnumMember = {
    kind: "EnumMember";
    id: number;
    name: string;
    initializer: {
        text: string;
    };
};

interface Props extends DataTypeProps {
    data: TypeDataEnumMember;
}

const { data, depth } = Astro.props;
console.log(data);
---

<Title depth={depth}>{data.name} = {data.initializer.text}</Title>
