body {
  min-height: 100dvh;
  font-family: "Fredoka", sans-serif;
}

.sidebar-link {
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.folder[folder-state="closed"] .folder-content {
  display: none;
}

.sidebar-link {
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.drawer-side {
  --tw-text-opacity: 1;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-color: currentColor var(--fallback-b3, oklch(var(--b3)/var(--tw-text-opacity)));

  scrollbar-width: thin;
}

/** SHIKI  **/

.shiki {
  overflow: auto;
  @apply p-2 my-2 rounded-box bg-base-300 !important;
}

.astro-code {
  overflow: auto;
  @apply p-2 my-2 rounded-box bg-base-300 !important;
}

.line.diff.add {
  @apply bg-green-400 bg-opacity-40
}

span.line.diff.add::before {
  content: "+";
  font-weight: bold;
  position: absolute;
}

span.line.diff.remove {
  @apply bg-red-400 bg-opacity-40
}

span.line.diff.remove::before {
  content: "-";
  font-weight: bold;
  position: absolute;
}

.highlighted-word {
  @apply bg-gray-300 bg-opacity-40

}

/** UTILS **/
.text-fira {
  font-family: "Fira Code Variable", monospace;
}
