.pagefind-ui__search-input {
    @apply input input-bordered w-full p-4;
}

.pagefind-ui__form {
    @apply form-control max-h-96 items-start gap-2;
}

.pagefind-ui__search-clear {
    @apply btn btn-neutral btn-xs;
}

.pagefind-ui__drawer {
    @apply flex-1 overflow-y-auto;
}

.pagefind-ui__results-area {
    @apply space-y-4 py-2;
}

.pagefind-ui__message {
    @apply px-2 text-sm font-semibold;
}

.pagefind-ui__results {
    @apply form-control gap-2;
}

.pagefind-ui__result {
    @apply rounded-box bg-base-200 p-2;
}

.pagefind-ui__result-title {
    @apply text-lg font-bold text-primary underline;
    text-decoration-style: dotted;
}

.pagefind-ui__result-nested .pagefind-ui__result-title {
    @apply text-base font-normal text-primary;
}

mark {
    @apply bg-primary text-black;
}
