---
import { Code } from "astro:components";
import kaplaySubmodulePackageJson from "../../../kaplay/package.json";
import { assets } from "@kaplayjs/crew";

interface Props {
    code: string;
}

const { code } = Astro.props;
---

<div class="flex flex-col h-full rounded-l-xl p-px md:pr-0 z-10">
    <div class="flex flex-col flex-1 bg-base-200 rounded-xl min-h-0">
        <div class="flex justify-between">
            <div class="flex items-center gap-1.5 px-5 h-12">
                <div class="size-2.5 bg-base-content/10 rounded-full"></div>
                <div class="size-2.5 bg-base-content/10 rounded-full"></div>
                <div class="size-2.5 bg-base-content/10 rounded-full"></div>
            </div>
            <div class="flex items-center gap-1.5 px-5 h-12 not-prose">
                <div class="btn btn-xs btn-ghost bg-base-content/10 h-auto min-h-0 py-1.5">
                    <img src={assets.play.outlined} class="w-6 h-6 inline p-0 my-o mx" />
                </div>
            </div>
        </div>

        <div class="flex-1 flex m-1.5 mt-0 min-h-0">
            <div class="flex flex-1 bg-base-300 rounded-lg overflow-hidden">
                <Code lang={"js"} code={code} />
            </div>
        </div>
    </div>
</div>
