---
export type NavigationTags = {
    url: string;
    title: string;
};
type Props = {
    previous: NavigationTags | null;
    next: NavigationTags | null;
};
const { previous, next } = Astro.props;
---

<div class="mt-14 flex justify-between gap-2">
    <div class="flex">
        {
            previous && (
                <a
                    href={previous.url}
                    class="not-prose card gap-1 mb-6 bg-base-content/5 p-4 no-underline hover:bg-base-content/10 transition-colors"
                    aria-label="Previous guide"
                >
                    <div class="flex items-center gap-1 text-sm leading-tight">
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <>
                                <path d="m12 19-7-7 7-7" />
                                <path d="M19 12H5" />
                            </>
                        </svg>
                        Previous
                    </div>
                    <div class="mt-auto font-bold leading-tight text-primary">{previous.title}</div>
                </a>
            )
        }
    </div>
    <div class="flex">
        {
            next && (
                <a
                    href={next.url}
                    class="not-prose card gap-1 mb-6 bg-base-content/5 p-4 no-underline hover:bg-base-content/10 transition-colors"
                    aria-label="Next guide"
                >
                    <div class="flex items-center gap-1 text-sm leading-tight justify-end">
                        Next
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <>
                                <path d="M5 12h14" />
                                <path d="m12 5 7 7-7 7" />
                            </>
                        </svg>
                    </div>
                    <div class="font-bold leading-tight text-primary text-right">{next.title}</div>
                </a>
            )
        }
    </div>
</div>
