<div
    class="prose prose-lg lg:prose-xl max-w-6xl text-pretty prose-img:rounded-xl px-4 py-4 prose-p:my-4 prose-headings:mb-6 prose-pre:my-2 prose-a:text-primary prose-img:border prose-img:border-base-content"
>
    <slot />
</div>
