---
import { CrewItem } from "@/components/Crew/CrewItem";
import Navbar from "@/components/Land/Navbar.astro";
import Page from "@/layouts/Page.astro";
import { getStaticPathsByLocales } from "@/util/path";
import { assets } from "@kaplayjs/crew";

export async function getStaticPaths() {
    return getStaticPathsByLocales().flatMap((locale) => {
        return Object.keys(assets).map((asset) => {
            return {
                params: { slug: asset, ...locale.params },
                props: { asset, ...locale.props },
            };
        });
    });
}

const { asset, lang } = Astro.props;
---

<Page
    {lang}
    meta={{
        title: `KAPLAY Crew Wiki - ${asset}`,
        description: assets[asset as keyof typeof assets].description,
        keywords:
            "kaplay, kaboom.js, kaplay.js, game, library, javascript, easy, simple, html5, html5 games",
    }}
>
    <main class="land | scroll-smooth flex flex-col max-h-dvh h-dvh">
        <Navbar />
        <CrewItem crewItem={asset as keyof typeof assets} />
    </main>
</Page>
