---
import Info from "@/components/Content/Info.astro";
import Prose from "@/components/Content/Prose.astro";
import SidebarPage from "@/layouts/SidebarPage.astro";
---

<SidebarPage
    meta={{
        title: "KAPLAY Guides",
        description: "Learn how to create games with KAPLAY.js through our comprehensive guides and tutorials.",
        keywords: "kaplayjs, guides, documentation",
    }}
    sidebarMode="guides"
>
    <Prose>
        <h1>Bienvenido a la documentación de KAPLAY</h1>
        <p>En la documentación de KAPLAY encontrarás guías, recursos y todo lo que necesitas para comenzar a usar la librería&nbsp;KAPLAY! </p>
        <p>In the KAPLAY Docs you will find guides, resources and all you need to start using the&nbsp;KAPLAY library!</p>
    </Prose>

    <div class="max-w-[50rem]">
        <div class="grid grid-cols-2 bg-base-50 rounded-xl gap-px p-px">
            <div class="flex flex-1 flex-col rounded-xl bg-base-300 p-4 w-full gap-2">
                <h2 class="text-xl font-bold">Comenzemos!</h2>
                Hora de comenzar con KAPLAY

                <ul class="list-disc list-inside">
                    <li class="link link-primary link-hover">
                        <a href="/docs/guides/install">Instalación (En Inglés)</a>
                    </li>
                    <li class="link link-primary link-hover">
                        <a href="/docs/guides/starting">Conceptos Básicos (En Inglés)</a>
                    </li>
                    <li class="link link-primary link-hover">
                        <a href="/docs/guides/game_objects">Game Objects (En Inglés)</a>
                    </li>
                    <li class="link link-primary link-hover">
                        <a href="/docs/guides/components">Components (En Inglés)</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-1 flex-col rounded-xl bg-base-300 p-4 w-full gap-2">
                <h2 class="text-xl font-bold">Crea tu primer juego</h2>
                Puedes comenzar a aprender los conceptos básicos de KAPLAY.js creando un juego similar al Chrome Dino

                <a class="link link-hover link-primary" href="/docs/guides/creating_your_first_game">Read "Creating your first game"</a>
            </div>
        </div>

        <Info crew="bean" title="Psst!">
            <p>
                Crear juegos es una aventura y no tiene por que ser de un solo jugador! Únete a nuestro
                <a class="link-hover link-primary" href="https://discord.com/invite/aQ6RuQm3TF">Servidor de Discord</a>, donde puedes compartir tu progreso o
                pedir ayuda si te encuentras con algún problema.
            </p>
        </Info>
        <div class="grid bg-base-50 rounded-xl gap-px p-px">
            <div class="flex flex-1 flex-col rounded-xl bg-base-300 p-4 w-full gap-2">
                <h2 class="text-xl font-bold flex items-center gap-2"><span class="badge text-white bg-[#7E39E0]">NEW</span>Multiplayer Integration</h2>

                <p>
                    Integrate your KAPLAY games with a flexible and fun multiplayer framework, Colyseus. In our new <a
                        class="link text-[#aa7aee]"
                        href="/docs/guides/how-to-make-a-multiplayer-game-with-colyseus-and-kaplay">Multiplayer Guide</a
                    > you will learn how to from the start to deploying!
                </p>
            </div>
        </div>
        <Prose>Remember that KAPLAY is a new born open source project. This documentation is constantly evolving and advancing :D</Prose>
    </div>
</SidebarPage>
