---
import Prose from "@/components/Content/Prose.astro";
import SidebarPage from "@/layouts/SidebarPage.astro";
import { getLangedRoute, getPropsFromPath } from "@/util/path";
---

<SidebarPage>
    <Prose>
        <h1>404</h1>
        <p class="min-h-screen">
            Whoops! Looks like you have found a page that doesn't exist.
            <a href="/" data-astro-reload>
                <span class="text-primary"> Go back to the homepage</span>
            </a>.
        </p>
    </Prose>
</SidebarPage>
