---
import Prose from "@/components/Content/Prose.astro";
import SidebarPage from "@/layouts/SidebarPage.astro";
import { getLangedRoute, getPropsFromPath } from "@/util/path";

const { t, lang } = getPropsFromPath(Astro.url.pathname);
---

<SidebarPage {lang}>
    <Prose>
        <h1>404</h1>
        <p class="min-h-screen">
            {t("misc.404_message")}
            <a href={getLangedRoute(lang, "/")}>
                {t("misc.404_link")}
            </a>.
        </p>
    </Prose>
</SidebarPage>
