---
import Prose from "@/components/Content/Prose.astro";
import { booksInfo } from "@/data/booksData";
import SidebarPage from "@/layouts/SidebarPage.astro";
---

<SidebarPage
    meta={{
        description: "The books of the KAPLAY Team.",
    }}
    collection="books"
>
    <Prose>
        <h1>We do books too!</h1>

        {
            Object.values(booksInfo).map((book) => {
                return (
                    <a href={book.url} class="decoration-transparent">
                        <div class="flex flex-col items-center justify-center rounded-box bg-base-200 p-4">
                            <img src={book.potrait} />
                            <h2>{book.title}</h2>
                            <p class="text-balance">{book.description}</p>
                        </div>
                    </a>
                );
            })
        }
    </Prose>
</SidebarPage>
