---
import { CrewList } from "@/components/Crew/CrewList";
import NavbarPage from "@/layouts/NavbarPage.astro";
---

<NavbarPage
    meta={{
        title: "KAPLAY Crew Wiki",
        description:
            "The wiki (assets manager) for KAPLAY, where you can browse, download and read about our official assets.",
        keywords:
            "kaplay, kaboom.js, kaplay.js, game, library, javascript, easy, simple, html5, html5 games",
    }}
    pageClass="bg-image-pattern"
>
    <div class="flex h-dvh flex-col scroll-smooth">
        <CrewList />
    </div>
</NavbarPage>

<script>
    document.addEventListener("astro:page-load", () => {
        if (window.location.pathname == "/crew") {
            document.dispatchEvent(new CustomEvent("restoreCrew"));
        }
    });
</script>
