---
import ReferenceList from "@/components/Reference/ReferenceList.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="KAPLAY | Reference Documentation"
    sidebarMode="reference"
>
    <div class="w-full">
        <ReferenceList mode="all" />
    </div>
</Layout>
