---
import ReferenceList from "@/components/Reference/ReferenceList.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
    meta={{
        title: "KAPLAY, Reference Documentation",
        description:
            "The reference documentation for KAPLAY, here you can learn how the API works.",
        image: "/kaplaylogo.png",
        keywords: "kaplay, reference, documentation, api, kaplayjs, kaboomjs",
    }}
    sidebarMode="reference"
>
    <div class="w-full">
        <ReferenceList mode="all" />
    </div>
</Layout>
