---
import TypeSignature from "@/components/TypeSig/TypeSignature.astro";

const { data } = Astro.props;

const getParams = (data: any) => {
    const paramsToCheck = "parameters";

    if (data?.[paramsToCheck] ?? data?.type?.[paramsToCheck]) {
        return data?.[paramsToCheck] ?? data?.type?.[paramsToCheck];
    }
};

export const optionalMark = (data: any) => {
    return data.questionToken ? "?" : "";
};

if (!getParams(data)) return;
---

<span>{"("}{
    getParams(data).map((param: any, i: number) => (
        <>{param.name}{optionalMark(param)}: <TypeSignature
                data={param.type}
            />{i !== getParams(data).length - 1 && <>{", "}</>}</>
    ))
}{")"}</span>
