---
import { assets } from "@kaplayjs/crew";

type Asset = keyof typeof assets;

type Props = {
    friend: Asset;
};

const { friend } = Astro.props;
---

<div
    class="p-4 bg-base-200 rounded-box flex-1 flex flex-row gap-4 items-center"
>
    <div class="max-w-10 max-h-10">
        <img src={assets[friend].outlined} alt="KAFriend" />
    </div>
    <slot />
</div>
