<div class="bg-base-200 min-h-screen">
    <div class="w-full h-screen flex items-center justify-center">
        <div class="max-w-xl">
            <h1 class="text-5xl font-bold"
            >A <span class="text-primary">fun</span> game library for HTML5
                Games</h1>
            <p class="py-6">
                KAPLAY is a JavaScript game library that makes it easy to create
                games. Is the successor of Kaboom.JS. With KAPLAY, you can
                create games with a few lines of code.
            </p>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>
