---
import { assets } from "@kaplayjs/crew";

type Asset = keyof typeof assets;

type Props = {
    friend: Asset;
};

const { friend } = Astro.props;
---

<div
    class="flex flex-1 flex-row items-center gap-4 rounded-box bg-base-200 p-4">
    <div class="max-h-10 max-w-10">
        <img src={assets[friend].outlined} alt="KAFriend" />
    </div>
    <slot />
</div>
