---
import kaplayBanner from "@/assets/kaplay-banner.webp";
import { Image } from "astro:assets";
import AboutFeatured from "./AboutFeatured.astro";
---

<div class="min-h-screen p-4" id="about">
    <div
        class="w-full min-h-screen flex flex-col-reverse lg:flex-row items-center justify-center gap-16"
    >
        <div class="max-w-xl">
            <a
                class="badge badge-primary badge-lg my-4 link font-medium"
                href="https://itch.io/jam/kajam"
                target="_blank"
            >
                Win prizes making games with KAPLAY! KAJAM, join now! ->
            </a>
            <h1 class="text-5xl font-bold text-pretty">
                A <span class="text-primary">fun</span> and open source game
                library for <span class="text-primary">HTML5 Games</span>
            </h1>
            <p class="py-6">
                KAPLAY is a JavaScript and TypeScript game library that makes it
                easy to create games for the web. It's free, open-source and
                fun. KAPLAY makes game development <strong>FFF</strong> (Fun,
                Fast, Fantastic).
            </p>

            <div class="grid grid-cols-2 gap-4">
                <AboutFeatured friend="apple">
                    Friendly API. Easy to learn, easy to teach.
                </AboutFeatured>

                <AboutFeatured friend="bag">
                    A bunch of examples and assets to get started.
                </AboutFeatured>

                <AboutFeatured friend="bean">
                    Strong support for TypeScript.
                </AboutFeatured>

                <AboutFeatured friend="heart">
                    Is Open Source, free and always will be.
                </AboutFeatured>
            </div>

            <div class="flex flex-row gap-2 mt-4 flex-wrap">
                <a class="btn btn-primary" href="/guides/install">
                    Explore the docs
                </a>
                <a
                    class="btn btn-neutral"
                    href="https://discord.com/invite/aQ6RuQm3TF"
                >
                    Join to our Discord
                </a>
                <a class="btn btn-neutral" href="https://play.kaplayjs.com">
                    Try KAPLAYGROUND
                </a>
            </div>
        </div>
        <div>
            <img
                class="w-full max-w-3xl"
                src={kaplayBanner.src}
                alt="KAPLAY Banner"
                height={1400}
                width={500}
                loading={"eager"}
            />
        </div>
    </div>
</div>
