---
import kaplayBanner from "@/assets/kaplay-banner.webp";
import { Image } from "astro:assets";
import AboutFeatured from "./AboutFeatured.astro";
---

<div class="text-pangolin flex-1 p-4" id="about">
    <div
        class="flex h-full w-full flex-col-reverse items-center justify-center gap-16 lg:flex-row"
    >
        <div class="max-w-xl">
            <h1 class="text-pretty text-5xl font-bold leading-[3.2rem]">
                The <span class="text-primary">fun</span> and open source game
                library for <span class="text-primary">HTML5 Games</span>
            </h1>
            <p class="py-6 text-xl">
                <strong>KAPLAY</strong>
                <span class="text-rubik italic">(/ˈkæpleɪ/)</span> is a
                JavaScript and TypeScript game library that makes it easy to
                create games for the web. It's free, open-source and fun.
            </p>

            <div class="grid grid-cols-2 gap-4">
                <AboutFeatured friend="apple">
                    Friendly API. Easy to learn, easy to teach.
                </AboutFeatured>

                <AboutFeatured friend="bag">
                    A bunch of examples and assets to get started.
                </AboutFeatured>

                <AboutFeatured friend="bean">
                    Strong support for TypeScript.
                </AboutFeatured>

                <AboutFeatured friend="heart">
                    Is Open Source, free and always will be.
                </AboutFeatured>
            </div>

            <div class="mt-4 flex flex-row flex-wrap gap-2">
                <a class="btn btn-primary" href="/guides/install">
                    Explore the docs
                </a>
                <a
                    class="btn btn-neutral"
                    href="https://discord.com/invite/aQ6RuQm3TF"
                >
                    Join to our Discord
                </a>
                <a class="btn btn-neutral" href="https://play.kaplayjs.com">
                    Play with KAPLAYGROUND
                </a>
            </div>
        </div>
        <div>
            <Image
                src={kaplayBanner}
                alt="KAPLAY Banner"
                height={1400}
                width={500}
                loading={"eager"}
                quality={100}
                decoding={"sync"}
            />
        </div>
    </div>
</div>
