---
import { assets } from "@kaplayjs/crew";

export type AssetName = keyof {
    [K in keyof typeof assets as typeof assets[K] extends { kind: "Sprite" } ? K : never]: any;
};

type Props = {
    friend: AssetName;
};

const { friend } = Astro.props;
---

<div class="flex flex-1 flex-col gap-4 rounded-xl bg-base-300 px-9 sm:px-16 md:px-9 py-8">
    <div class="items-center h-10 max-w-10 flex">
        <img src={assets[friend].outlined} alt="KAFriend" />
    </div>

    <slot />
</div>
