---
import yourGameImage from "@/assets/yourgame.webp";
import FriendsBelow from "@/components/Util/FriendsBelow.astro";
import { Image } from "astro:assets";
import { Code } from "astro:components";
import exampleCode from "../../util/code.js?raw";
---

<div
    class="flex min-h-screen w-full flex-col justify-center gap-6 p-4 lg:flex-row"
    id="example"
>
    <div class="w-full max-w-xl">
        <h2 class="text-5xl font-semibold">
            An API based on <span class="text-primary">blocks</span>
        </h2>
        <p>
            One of the reasons why <span class="text-primary">KAPLAY</span> is so
            fun is because it's easy to understand and the API is made to be friendly.
        </p>
        <div>
            <Code
                code={`onStart(() => {});`}
                lang="javascript"
                class="w-full max-w-xl text-sm"
            />
        </div>
    </div>
</div>
