---
import { Code } from "astro:components";

type Props = {
    code: string;
};

const { code } = Astro.props;
---

<div class="bg-base-200">
    <Code
        code={code}
        lang="typescript"
        class="text-sm w-full max-w-xl"
    />
</div>
