---
import testimonials from "../../data/testimonial.json";
import { Testimonial } from "../Testimonial/Testimonial";
import FriendsBelow from "../Util/FriendsBelow.astro";
---

<div
    class="text-pangolin flex w-full flex-col items-center gap-6 p-4"
    id="testimonials">
    <h2 class="text-5xl font-bold">Voices of KAPLAYERS</h2>
    <p class="text-center text-xl">
        What our users say about KAPLAY. We are proud to have such a great
        community.
    </p>
    <div class="flex flex-wrap items-center justify-center gap-4">
        {
            testimonials.testimonials.map((testimonial) => (
                <FriendsBelow
                    friends={[testimonial.friend as "mark"]}
                    offset={3}
                    limited>
                    <Testimonial testimonial={testimonial} />
                </FriendsBelow>
            ))
        }
    </div>
</div>
