---
import DocEntry from "../DocEntry.astro";
import DocFor from "../DocFor.astro";
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataTypeLiteral = {
    kind: "TypeLiteral";
    id: number;
    members: any[];
};

interface Props extends DataTypeProps {
    data: TypeDataTypeLiteral;
}

const { data, depth } = Astro.props;
console.log(data);
---

<span data-dg-type-literal>
    {Object.keys(data.members).map((d) => data.members[d].map((rd) => <DocFor data={rd} depth={depth + 1} />))}
</span>
