---
import DocFor from "../DocFor.astro";
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataRestType = {
    kind: "RestType";
    id: number;
    type: any;
};

interface Props extends DataTypeProps {
    data: TypeDataRestType;
}

const { data, depth } = Astro.props;
---

<span data-dg-rest-type>...<DocFor data={data.type} depth={depth} /></span>
