---
import doc from "@/../doc.json";
import { DocEntry } from "@/components/Doc/DocEntry";
import { DocPreview } from "@/components/Doc/DocPreview";
import Layout from "@/layouts/Layout.astro";
import { getStaticPathsByLocales } from "@/util/path";

export async function getStaticPaths() {
    const kaboomDoc: any = doc.types.KaboomCtx[0].members;
    const allKaboomDocKeys: string[] = Object.keys(kaboomDoc);

    return getStaticPathsByLocales().flatMap((locale) => {
        return allKaboomDocKeys.map((key) => {
            return {
                params: { slug: key, ...locale.params },
                props: {
                    type: kaboomDoc[key] as any[],
                    name: key,
                    ...locale.props,
                },
            };
        });
    });
}

const { type, lang } = Astro.props;
---

<Layout
    lang={lang}
    meta={{
        title: "KAPLAY Docs, " + type[0].name,
        description: type[0].jsDoc?.doc ?? "KAPLAY Doc about " + type[0].name,
        image: type[0].name,
        keywords: "kaplayjs, guides, documentation",
    }}
    sidebarMode="reference"
>
    <div class="w-full min-h-dvh p-4">
        {type?.map((refData) => <DocEntry data={refData} />)}
    </div>

    <DocPreview />
</Layout>
