---
import { getStaticPathsFromCollection } from "@/components/ContentLayer/getStaticPathsFromCollection";
import DocEntry from "@/components/Doc/DocEntry.astro";
import DocPreview from "@/components/Doc/DocPreview.astro";
import SidebarPage from "@/layouts/SidebarPage.astro";

export async function getStaticPaths() {
    return (await getStaticPathsFromCollection("apiDocs"))
        .filter((e) => e.props.entry.data.isCtx == true)
        .map((e) => ({
            ...e,
            props: {
                entry: {
                    ...e.props.entry,
                    id: e.props.entry.id.slice(4),
                },
            },
        }));
}
const { entry } = Astro.props;
---

<SidebarPage
    meta={{
        title: "KAPLAY Docs, " + entry.data.type[0].name,
        description: entry.data.type[0].jsDoc?.doc ?? "KAPLAY Doc about " + entry.data.type[0].name,
        keywords: "kaplayjs, guides, documentation",
    }}
    collection="apiDocs"
    category="apiDocs"
>
    <div class="min-h-dvh w-full max-w-[50rem] p-4">
        {entry.data.type?.map((refData, i) => <DocEntry index={i} data={refData} />)}
    </div>

    <DocPreview />
</SidebarPage>
