---
import { CrewItem } from "@/components/Crew/CrewItem";
import Navbar from "@/components/Land/Navbar.astro";
import Page from "@/layouts/Page.astro";
import { assets } from "@kaplayjs/crew";

export async function getStaticPaths() {
    return Object.keys(assets).map((asset) => {
        return {
            params: { slug: asset },
            props: { asset },
        };
    });
}

const { asset } = Astro.props;
---

<Page
    meta={{
        title: `KAPLAY Crew Wiki - ${asset}`,
        description: assets[asset as keyof typeof assets].description,
        keywords:
            "kaplay, kaboom.js, kaplay.js, game, library, javascript, easy, simple, html5, html5 games",
        image: assets[asset as keyof typeof assets].outlined,
    }}
    class="bg-image-pattern"
>
    <main class="flex flex-col scroll-smooth">
        <Navbar />
        <CrewItem crewItem={asset as keyof typeof assets} />
    </main>
</Page>
