---
import hamburgerIcon from "@/assets/hamburger.webp";
import searchIcon from "@/assets/search.png";
import { cn } from "@/util/cn";
import type { MarkdownHeading } from "astro";
import { Image } from "astro:assets";
import Footer from "../Footer/Footer.astro";
import { getBlogEntries, getBookEntries, getDocEntries, getGuidesEntries } from "./entries";
import SidebarLink from "./SidebarLink.astro";
import SidebarList from "./SidebarList.astro";
import VersionSelector from "./VersionSelector.astro";
import { assets } from "@kaplayjs/crew";
import SidebarEntries from "./SidebarEntries.astro";
import SidebarContentNav from "./SidebarContentNav.astro";

export type LinkListEntry = {
    title: string;
    description: string;
    link: string;
    folder?: string;
};

export type SidebarEntry = {
    linkList: LinkListEntry[];
    folder: string;
};

export type SidebarProps = {
    sidebarMode?: "guides" | "reference" | "blog" | "books";
    headings?: MarkdownHeading[];
};

type Props = SidebarProps;

const { sidebarMode, headings } = Astro.props;
let renderList: SidebarEntry[] = [];

if (sidebarMode === "guides") {
    renderList = await getGuidesEntries();
} else if (sidebarMode === "reference") {
    renderList = await getDocEntries();
} else if (sidebarMode === "blog") {
    renderList = await getBlogEntries();
} else if (sidebarMode === "books") {
    renderList = await getBookEntries();
}
---

<div class="drawer z-20 h-full md:drawer-open">
    <input id="sidebar" type="checkbox" class="drawer-toggle" />

    <div class="drawer-content w-full">
        <header class="z-30 flex min-h-16 w-full">
            <SidebarContentNav headings={headings} />
        </header>

        <main class="flex w-full flex-col md:flex-row md:pt-3 md:pl-4">
            <div class="w-full">
                <slot name="ad" />

                <slot />
            </div>
        </main>

        <Footer />
    </div>

    <SidebarEntries sidebarMode={sidebarMode} />
</div>

<script>
    const isMac = navigator.userAgent.includes("Mac");
    const searchBtn = document.querySelector("#search-btn");

    if (isMac && searchBtn) {
        searchBtn.textContent = "⌘ + K";
    }

    window.addEventListener("keydown", (e) => {
        if (e.ctrlKey && e.key === "k") {
            e.preventDefault();

            document.querySelector<HTMLDialogElement>("#search-modal")?.showModal();
        }
    });
</script>

<script>
    const setUrl = () => {
        const pathname = new URL(location.href).pathname.replace(/\/$/, "");
        const links = document.querySelectorAll<HTMLElement>(".sidebar-link-a");

        links.forEach((link) => {
            const href = link.dataset.link?.replace(/\/$/, "");
            link.ariaCurrent = href === pathname ? "page" : "false";
        });
    };

    document.addEventListener("astro:after-swap", () => setUrl());
    document.addEventListener("DOMContentLoaded", () => setUrl());
</script>
