---
type Props = {
    link: string;
    target?: string;
};

const { link, target } = Astro.props;
---

<li class="sidebar-link">
    <a
        href={link}
        class="btn btn-ghost w-full btn-sm justify-start text-left text-lg"
        target={target}
    >
        <slot />
    </a>
</li>

<style>
.sidebar-link {
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
</style>
