---
import Image from "astro/components/Image.astro";
import kaplayGif from "../../assets/kaplay.gif";
import SidebarLink from "./SidebarLink.astro";
import SidebarList from "./SidebarList.astro";

type LinkListEntry = {
    title: string;
    link: string;
};

export type SidebarEntry = {
    linkList: LinkListEntry[];
    folder: string;
};

export type SidebarProps = {
    sidebarMode?: "guides" | "reference";
};

type Props = SidebarProps;

const { sidebarMode } = Astro.props;
---

<div
    class="p-4 bg-base-200 flex flex-col items-center gap-4 overflow-y-auto overflow-x-clip max-w-60"
    style="scrollbar-gutter: stable;"
>
    <figure>
        <Image
            src={kaplayGif}
            alt="kaplay logo"
            class="w-52 h-24 aspect-auto object-contain"
        />
    </figure>
    <nav class="w-full">
        <ul class="flex-col gap-2">
            <SidebarLink link="/">
                Home
            </SidebarLink>
            <SidebarLink link="https://kaboomjs.com/discord" target="_blank">
                Discord
            </SidebarLink>
        </ul>
        <div class="divider"></div>
        <ul class="flex-col gap-2">
            <SidebarLink link="/guides/setup">
                Guides
            </SidebarLink>
            <SidebarLink link="/reference">
                Reference Docs
            </SidebarLink>
        </ul>
        <div class="divider"></div>
        <SidebarList {sidebarMode}>
    </nav>
</div>
