---
import Image from "astro/components/Image.astro";
import kaplayGif from "../../assets/kaplay.gif";
import SidebarLink from "./SidebarLink.astro";
import SidebarList from "./SidebarList.astro";

type LinkListEntry = {
    title: string;
    link: string;
};

export type SidebarEntry = {
    linkList: LinkListEntry[];
    folder: string;
};

export type SidebarProps = {
    sidebarMode?: "guides" | "reference";
};

type Props = SidebarProps;

const { sidebarMode } = Astro.props;
---

<div class="drawer lg:drawer-open">
    <input id="sidebar" type="checkbox" class="drawer-toggle" />

    <label
        for="sidebar"
        class="lg:hidden fixed z-10 top-1/2 translate-y-[-50%] left-0"
    >
        <div class="border-r-8 h-52"></div>
    </label>

    <div class="drawer-content flex flex-col items-center justify-center">
        <slot />
    </div>
    <div class="drawer-side" style="scrollbar-gutter: stable;">
        <label
            for="sidebar"
            aria-label="close sidebar"
            class="drawer-overlay"
        ></label>
        <div class="p-4 w-80 min-h-full bg-base-200 text-base-content">
            <figure>
                <Image
                    src={kaplayGif}
                    alt="kaplay logo"
                    class="w-52 h-24 aspect-auto object-contain"
                />
            </figure>
            <ul class="flex-col gap-2">
                <SidebarLink link="/">
                    Home
                </SidebarLink>
                <SidebarLink
                    link="https://kaboomjs.com/discord"
                    target="_blank"
                >
                    Discord
                </SidebarLink>
                <SidebarLink
                    link="https://github.com/marklovers/kaplay"
                    target="_blank"
                >
                    GitHub
                </SidebarLink>
                <SidebarLink link="https://play.kaplayjs.com " target="_blank">
                    Playground <div class="badge badge-primary">WIP</div>
                </SidebarLink>
            </ul>
            <div class="divider"></div>
            <ul class="flex-col gap-2">
                <SidebarLink link="/guides/setup">
                    Guides
                </SidebarLink>
                <SidebarLink link="/reference">
                    Reference Docs
                </SidebarLink>
            </ul>
            <div class="divider"></div>
            <SidebarList {sidebarMode} />
        </div>
    </div>
</div>
