---
type Props = {
    title: string;
    id: string;
    isOpen?: boolean;
};

const { title, id, isOpen } = Astro.props;
const folderIsOpen = isOpen ?? title === "Start";
---

<div
    class="folder | flex flex-col"
    id={id}
    folder-state={folderIsOpen ? "open" : "closed"}
>
    <p
        class="folder-title | btn btn-ghost w-full btn-sm justify-start text-left text-lg"
    >
        {title}
    </p>
    <ul class="folder-content | flex-col gap-2 mx-4 border-l-2 border-current">
        <slot />
    </ul>
</div>

<style>
    .folder[folder-state="closed"] .folder-content {
        display: none;
    }
</style>

<script>
    const folders = document.querySelectorAll(".folder");

    folders.forEach((folder) => {
        const folderTitle = folder.querySelector(".folder-title");

        folderTitle?.addEventListener("click", () => {
            const folderState = folder.getAttribute("folder-state");

            if (folderState === "open") {
                folder.setAttribute("folder-state", "closed");
            } else {
                folder.setAttribute("folder-state", "open");
            }
        });
    });
</script>
