---
import Image from "astro/components/Image.astro";
import kaplayGif from "../../assets/kaplay.gif";
import SidebarLink from "./SidebarLink.astro";

type LinkListEntry = {
    title: string;
    link: string;
};

export type SidebarProps = {
    mode: "guides" | "reference";
    linkList?: LinkListEntry[];
};

type Props = SidebarProps;

const { mode, linkList } = Astro.props;
---

<div class="p-4 bg-base-200 flex flex-col items-center gap-4 overflow-y-auto">
    <figure>
        <Image
            src={kaplayGif}
            alt="kaplay logo"
            class="w-52 h-24 aspect-auto object-contain"
        >
    </figure>
    <nav class="w-full">
        <ul class="flex-col gap-2">
            <SidebarLink link="/guides/setup">
                Home
            </SidebarLink>
            <SidebarLink link="https://kaboomjs.com/discord" target="_blank">
                Discord
            </SidebarLink>
        </ul>
        <div class="divider"></div>
        <ul class="flex-col gap-2">
            <SidebarLink link="/guides/setup">
                Guides
            </SidebarLink>
            <SidebarLink link="/reference">
                Reference Docs
            </SidebarLink>
        </ul>
        <div class="divider"></div>
        <ul class="flex-col gap-2">
            {
                linkList?.map(({ title, link }) => (
                    <SidebarLink link={link}>
                        {title}
                    </SidebarLink>
                ))
            }
        </ul>
    </nav>
</div>
