---
import type { Locale } from "@/util/i18n";
import { getLangedRoute } from "@/util/path";

type Props = {
    link: string;
    target?: string;
    lang?: Locale;
    noTranslate?: boolean;
};

const { link, target, noTranslate, lang = "en" } = Astro.props;
---

<li class="sidebar-link list-none">
    <a
        href={noTranslate ? link : getLangedRoute(lang, link)}
        class="sidebar-link-a btn btn-ghost w-full btn-sm justify-start text-left text-lg"
        target={target}
        data-link={link}
        data-astro-reload
    >
        <slot />
    </a>
</li>
