---
const version = __KAPLAY_VERSION__;
const selectedByDefault = version.startsWith("4") ? "v4000" : "v3001";

const versionNames = {
    v4000: selectedByDefault == "v4000" ? version : "v4000",
    v3001: selectedByDefault == "v3001" ? version : "v3001",
};
---

<select
    id="versionSelect"
    class="select select-bordered w-full"
    data-always-select={selectedByDefault}
>
    <option value="v4000" selected={selectedByDefault === "v4000"}>
        {versionNames.v4000}
    </option>
    <option value="v3001" selected={selectedByDefault === "v3001"}>
        {versionNames.v3001}
    </option>
</select>

<script>
    const links: Record<string, string> = {
        v4000: "https://v4000.kaplayjs.com/guides/install",
        v3001: "https://kaplayjs.com/guides/install",
        kaboom: "https://kaboomjs.com",
    };

    const versionSelect = document.querySelector<HTMLSelectElement>(
        "#versionSelect",
    )!;

    const selectedByDefault = versionSelect.dataset.alwaysSelect;

    versionSelect.addEventListener("change", (e) => {
        const version = versionSelect.value;
        window.open(links[version]);

        versionSelect.value = selectedByDefault!;
    });
</script>
