---
import kaplayPackageJson from "@/../kaplay/package.json";

const selectedByDefault = kaplayPackageJson.version.startsWith("4")
    ? "v4000"
    : "v3001";
---

<select id="versionSelect" class="select select-bordered w-full max-w-xs">
    <option value="v4000" selected={selectedByDefault === "v4000"}
    >v4000 alpha</option>
    <option value="v3001" selected={selectedByDefault === "v3001"}
    >v3001 alpha</option>
    <option value="kaboom">v3000 (kaboom)</option>
</select>

<script>
    const links: Record<string, string> = {
        "v4000": "https://v4000.kaplayjs.com/guides/install",
        "v3001": "https://kaplayjs.com/guides/install",
        "kaboom": "https://kaboomjs.com",
    };

    const versionSelect = document.querySelector<HTMLSelectElement>(
        "#versionSelect",
    );

    if (versionSelect) {
        versionSelect.addEventListener("change", (e) => {
            const version = versionSelect.value;

            if (version === "kaboom") {
                // new tab
                window.open(links[version]);
            }
            else {
                window.location.href = links[version];
            }
        });
    }
</script>
