---
import doc from "@/../doc.json";
import ReferenceEntry from "@/components/Reference/ReferenceEntry.astro";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
    const allDoc: any = doc.types;
    const allDocKeys: string[] = Object.keys(doc.types).filter(k =>
        k !== "KaboomCtx"
    );

    return allDocKeys.map((key) => ({
        params: { slug: key },
        props: { type: allDoc[key], name: key },
    }));
}

const { type, name } = Astro.props;
---

<Layout
    meta={{
        title: `KAPLAY - ${name}`,
        description: `${type[0].jsDoc?.doc ?? "No description provided."}`,
        image: "/kaplaylogo.png",
    }}
    sidebarMode="reference"
>
    <div class="w-full max-w-screen-lg">
        <ReferenceEntry type={type} name={name} />
    </div>
</Layout>
