---
import kaplayOutlined from "@/assets/kaplay-o.webp";
import { Image } from "astro:assets";
import colyseus from "../../assets/sponsors/colyseus.png";
import FriendsBelow from "../Util/FriendsBelow.astro";
import FooterLink from "./FooterLink.astro";
import FooterNav from "./FooterNav.astro";
---

<FriendsBelow
    friends={["bag", "ghosty", "ghostiny", "kat", "burpman", "mark"]}
    offset={2}
>
    <footer class="w-full rounded bg-base-200 p-10 text-base text-base-content">
        <div
            class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
            <FooterNav title="KAPLAY">
                <FooterLink href="/guides/install">
                    Installing KAPLAY
                </FooterLink>
                <FooterLink href="/guides/starting">
                    Basics of KAPLAY
                </FooterLink>
                <FooterLink href="/guides/components">
                    Components of KAPLAY
                </FooterLink>
            </FooterNav>
            <FooterNav title="Resources">
                <FooterLink href="https://play.kaplayjs.com" external>
                    Start playing around with KAPLAYGROUND
                </FooterLink>
                <FooterLink
                    href="https://discord.com/invite/aQ6RuQm3TF"
                    external
                >
                    Ask questions on Discord
                </FooterLink>
                <FooterLink href="/presskit"> Press Kit </FooterLink>
                <FooterLink href="/books/how_to_be_a_bean_wizard/introduction">
                    Become a Bean Wizard now!
                </FooterLink>
            </FooterNav>
            <FooterNav title="PRESENCE">
                <FooterLink href="https://github.com/kaplayjs/kaplay" external>
                    GitHub
                </FooterLink>
                <FooterLink
                    href="https://discord.com/invite/aQ6RuQm3TF"
                    external
                >
                    Discord
                </FooterLink>
                <FooterLink href="https://www.youtube.com/@kaplayjs" external>
                    YouTube
                </FooterLink>
                <FooterLink href="https://x.com/kaplayjs" external>
                    Twitter/X
                </FooterLink>
                <FooterLink
                    href="https://mastodon.gamedev.place/@kaplay"
                    external
                    rel="me"
                >
                    Mastodon
                </FooterLink>
                <FooterLink
                    href="https://bsky.app/profile/kaplayjs.com"
                    external
                    rel="me"
                >
                    Bluesky
                </FooterLink>
                <FooterLink href="https://kaplay.itch.io/" external>
                    Itch.io
                </FooterLink>
                <FooterLink href="https://www.reddit.com/r/KaplayJS/" external>
                    Reddit
                </FooterLink>
            </FooterNav>
            <FooterNav title="SUPPORT">
                <a
                    href="https://opencollective.com/kaplay/donate"
                    target="_blank"
                >
                    <Image
                        src="https://opencollective.com/webpack/donate/button@2x.png?color=blue"
                        width="300"
                        alt="Donate in Open Collective"
                        height={50}
                    />
                </a>
                <a href="https://cafecito.app/kaplay" target="_blank">
                    <Image
                        src="/cafecito.svg"
                        width="300"
                        alt="Cómprame un café (Donation for Argentina)"
                        height={50}
                    />
                </a>
            </FooterNav>
        </div>

        <div class="divider"></div>

        <aside
            class="flex flex-col items-center justify-center gap-6 sm:flex-row sm:justify-between"
        >
            <div class="flex flex-wrap items-center justify-center gap-4">
                <Image
                    src={kaplayOutlined}
                    alt="kaplay logo"
                    height={80}
                    quality={100}
                    loading={"eager"}
                />

                <a href="https://colyseus.io" target="_blank">
                    <Image
                        src={colyseus}
                        alt="Colyseus"
                        width={200}
                        height={80}
                    />
                </a>
            </div>
        </aside>
    </footer>
</FriendsBelow>
