---
type Props = {
    href: string;
    external?: boolean;
    rel?: string;
};

const { href, external, rel } = Astro.props;
---

<a
    class="link-hover link"
    {href}
    target={external ? "_blank" : "_parent"}
    rel={rel}
>
    <slot />
</a>
