---
import { getStaticPathsFromCollection } from "@/components/ContentLayer/getStaticPathsFromCollection";
import DocEntry from "@/components/Doc/DocEntry.astro";
import DocPreview from "@/components/Doc/DocPreview.astro";
import SidebarPage from "@/layouts/SidebarPage.astro";

export async function getStaticPaths() {
    return (await getStaticPathsFromCollection("apiDocs")).filter((e) => e.props.entry.data.isCtx == false);
}

const { entry } = Astro.props;
---

<SidebarPage
    meta={{
        title: "KAPLAY Docs, " + entry.data.type[0].name,
        description: entry.data.type[0].name,
        keywords: "kaplayjs, guides, documentation",
    }}
    collection="apiDocs"
    category="apiDocs"
>
    <div class="min-h-dvh max-w-[50rem] p-4">
        {entry.data.type?.map((refData, i) => <DocEntry index={i} data={refData} />)}
    </div>

    <DocPreview />
</SidebarPage>
