---
import doc from "@/data/generated/docs.json";
import DocEntry from "@/components/Doc/DocEntry.astro";
import DocPreview from "@/components/Doc/DocPreview.astro";
import SidebarPage from "@/layouts/SidebarPage.astro";

export async function getStaticPaths() {
    const allDoc: any = doc.types;
    const allDocKeys: string[] = Object.keys(doc.types).filter((k) => k !== "KAPLAYCtx" && k !== "KaboomCtx" && k !== "undefined");

    return allDocKeys.map((key) => ({
        params: { slug: key },
        props: {
            type: allDoc[key] as any[],
            name: key,
        },
    }));
}

const { type } = Astro.props;
---

<SidebarPage
    meta={{
        title: "KAPLAY Docs, " + type[0].name,
        description: type[0].name,
        keywords: "kaplayjs, guides, documentation",
    }}
    sidebarMode="reference"
>
    <div class="min-h-dvh max-w-[50rem] p-4">
        {type?.map((refData, i) => <DocEntry index={i} data={refData} />)}
    </div>

    <DocPreview />
</SidebarPage>
