---
import DocList from "@/components/Doc/DocList.astro";
import DocPreview from "@/components/Doc/DocPreview.astro";
import SidebarPage from "@/layouts/SidebarPage.astro";
---

<SidebarPage
    meta={{
        title: "KAPLAY, Reference Documentation",
        description:
            "The reference documentation for KAPLAY, here you can learn how the API works.",
        keywords: "kaplay, reference, documentation, api, kaplayjs, kaboomjs",
    }}
    sidebarMode="reference"
>
    <div class="w-full p-4">
        <DocList />
    </div>

    <DocPreview />
</SidebarPage>
