---
import About from "@/components/Land/About.astro";
import BlocksSection from "@/components/Land/Blocks/BlocksSection.astro";
import TestimonialSection from "@/components/Land/TestimonialSection.astro";
import CarbonAd from "@/components/Util/CarbonAd.astro";
import Messages from "@/components/Util/Messages.astro";
import People from "@/components/Util/People.astro";
import NavbarPage from "@/layouts/NavbarPage.astro";
---

<NavbarPage
    meta={{
        title:
            "KAPLAY.js, HTML5 Game library for JavaScript and TypeScript. Free & Open Source.",
        description:
            "KAPLAY.js is a JavaScript and TypeScript HTML5 game engine library that makes it easy and fun to create games. Is the successor of Kaboom.js.",
        keywords:
            "kaplay, kaboom.js, kaplay.js, game, library, javascript, easy, simple, html5, html5 games",
    }}
    pageClass="land"
>
    <About>
        <Fragment slot="title">
            La <span class="font-hand text-primary">divertida</span> y open
            source
            <span class="font-hand text-[#fcef8d]">librería</span> de
            <span class="text-[#bf7adf]">Juegos</span>
            <span class="font-hand text-[#ffb879]">HTML5</span>
        </Fragment>
        <Fragment slot="description">
            <strong class="text-white">KAPLAY</strong>
            <span class="italic">(/ˈkæpleɪ/)</span> es una
            <span class="text-white">librería</span>
            <span class="text-white">JavaScript</span> y <span
                class="text-white"
            >TypeScript</span>
            que hace que sea <span class="text-white">fácil</span> crear juegos
            para la web. Es <span class="text-white">gratis</span>,
            <span class="text-white">open-source</span> y divertida.
        </Fragment>
    </About>
    <BlocksSection />
    <TestimonialSection />
    <People />
    <Messages />
</NavbarPage>
