---
import "./CarbonAd.css";

interface Props {
    onlyClassic?: boolean;
    preferStart?: boolean;
    isHome?: boolean;
}

const { onlyClassic = false, preferStart = false, isHome = false } =
    Astro.props;
---

<div
    class="2xl:justify-star bottom-0 right-0 z-50 flex h-auto min-h-[18rem] items-center justify-center p-6 2sm:min-h-[12.5rem] md:p-4 2xl:fixed"
    class:list={{
        "md:justify-start": preferStart,
    }}
>
    <script
        async
        type="text/javascript"
        src={`//cdn.carbonads.com/carbon.js?serve=CW7DE53Y&placement=kaplayjscom&format=${
            onlyClassic ? "responsive" : "cover"
        }`}
        id="_carbonads_js"
        data-astro-rerun
    ></script>
    <script async>
        // @ts-ignore
        window.observer = new MutationObserver((mutations) => {
            mutations.forEach((mutation) => {
                mutation.addedNodes.forEach((node) => {
                    // @ts-ignore
                    if (node.id === "carbonads") {
                        const ads = document.querySelectorAll("#carbonads");
                        if (ads.length > 1) {
                            ads[1].remove();
                        }
                    }
                });
            });
        });
    </script>
    <script data-astro-rerun>
        window.observer.observe(document.body, {
            childList: true,
            subtree: true,
        });
    </script>
</div>
