---
import "./CarbonAd.css";

type Props = {
    onlyClassic?: boolean;
    preferStart?: boolean;
};

const { onlyClassic = false, preferStart = false } = Astro.props;
---

<div
    class="bottom-0 right-0 z-50 flex h-auto items-center justify-center p-4 md:p-4 2xl:fixed 2xl:justify-start"
    class:list={{
        "min-h-44": onlyClassic,
        "min-h-[16rem]": !onlyClassic,
        "md:justify-start": preferStart,
    }}>
    <script
        async
        type="text/javascript"
        src={`//cdn.carbonads.com/carbon.js?serve=CW7DE53Y&placement=kaplayjscom&format=${onlyClassic ? "responsive" : "cover"}`}
        id="_carbonads_js"
        data-astro-rerun></script>
    <script async>
        // @ts-ignore
        window.observer = new MutationObserver((mutations) => {
            mutations.forEach((mutation) => {
                mutation.addedNodes.forEach((node) => {
                    // @ts-ignore
                    if (node.id === "carbonads") {
                        const ads = document.querySelectorAll("#carbonads");
                        console.log(ads);
                        if (ads.length > 1) {
                            ads[1].remove();
                        }
                    }
                });
            });
        });
    </script>
    <script data-astro-rerun>
        window.observer.observe(document.body, {
            childList: true,
            subtree: true,
        });
    </script>
</div>
