---
import { assets } from "@kaplayjs/crew";

type AssetName = keyof typeof assets;

type Props = {
    friends?: AssetName[];
    offset?: number;
    limited?: boolean;
};

const { friends, offset = 0, limited } = Astro.props;

const offsets = ["top-2", "top-4", "top-6", "top-8", "top-10"].reverse();
---

<div class="friends-below | relative z-10">
    <div class="flex w-full items-center justify-center">
        <a class="hoverable special-friends" href="/crew">
            <div
                class:list={[
                    `friends | relative -z-10 flex w-full flex-row justify-center gap-4 ${
                        offsets[offset]
                    }`,
                ]}
            >
                {
                    friends?.map((friend) => (
                        <div class="select-none">
                            <img
                                src={assets[friend].sprite}
                                alt="KAFriend"
                                class:list={[
                                    {
                                        "h-14": limited,
                                    },
                                ]}
                            />
                        </div>
                    ))
                }
            </div>
        </a>
    </div>

    <div>
        <slot />
    </div>
</div>
