---
import type { SidebarProps } from "@/components/Sidebar/Sidebar.astro";
import { ViewTransitions } from "astro:transitions";
import Site from "./Site.astro";

type Props = {
    title: string;
} & SidebarProps;

const { title, mode, linkList } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <Site
            mode={mode}
            linkList={linkList}
        >
            <slot />
        </Site>
    </body>
</html>
