---
import Footer from "@/components/Footer/Footer.astro";
import Navbar from "@/components/Land/Navbar.astro";
import type { SidebarProps } from "@/components/Sidebar/Sidebar.astro";
import Page, { type MetaTagData } from "./Page.astro";

type Props = {
    meta?: MetaTagData;
    class?: string;
    pageClass?: string;
} & SidebarProps;

const { meta, class: className, pageClass } = Astro.props;
---

<Page meta={meta} class={pageClass}>
    <slot name="head" slot="head" />

    <div class="flex flex-col">
        <header>
            <Navbar />
        </header>

        <main class:list={["flex flex-1 flex-col gap-14 sm:gap-16", className]}>
            <slot />
        </main>

        <footer>
            <Footer class="bg-base-300" />
        </footer>
    </div>
</Page>
