---
import type { SidebarProps } from "@/components/Sidebar/Sidebar.astro";
import Sidebar from "@/components/Sidebar/Sidebar.astro";

type Props = SidebarProps;

const { sidebarMode } = Astro.props;
---

<div class="flex w-screen h-screen max-w-screen max-h-screen">
    <Sidebar {sidebarMode}>
        <main class="max-h-screen overflow-y-auto w-full">
            <slot />
        </main>
    </Sidebar>
</div>
