---
import { Code } from "astro:components";
import { descriptionClassesByLevel } from "./ReferenceEntry.astro";

type Props = {
    type: any;
    level: number;
};

const { type, level } = Astro.props;
---

<p class:list={[descriptionClassesByLevel[level]]}>
    {type.jsDoc?.doc ?? ""}
</p>
