---
import { parseType } from "@/util/parseType";
import {
    membersClassesByLevel,
    type ReferenceEntryProps,
    titleClassesByLevel,
} from "./ReferenceEntry.astro";

type Props = ReferenceEntryProps;

const { name, level = 0, type } = Astro.props;

const parseReturnType = (type: any) => {
    return parseType(type.type?.type?.kind ?? type?.type?.kind, type);
};
---

<h1
    class="flex items-start justify-start gap-2"
    class:list={[titleClassesByLevel[level]]}
>
    <span
        class="font-medium"
        class:list={[
            membersClassesByLevel[
                level
            ],
        ]}
    >{name}:</span>
    <span>{parseReturnType(type)}</span>
</h1>
