---
import doc from "@/../doc.json";
import ReferenceEntry from "./ReferenceEntry.astro";

type Props = {
    mode: "KaboomCtx" | "all";
};

const allDoc = doc.types;
const allDocKeys: string[] = Object.keys(doc.types).filter(k =>
    k !== "KaboomCtx"
);
const kaboomDoc: any = doc.types.KaboomCtx[0].members;
const kaboomDocKeys: any = Object.keys(kaboomDoc) as Array<
    keyof typeof kaboomDoc
>;

const reallyAllDoc = {
    ...allDoc,
    ...kaboomDoc,
};
const reallyAllDocKeys = Object.keys(reallyAllDoc).filter(k =>
    k !== "KaboomCtx"
);

const { mode } = Astro.props;
---

<main>
    {
        mode === "all" && reallyAllDocKeys.map((key: string) => (
            <ReferenceEntry
                name={key}
                type={reallyAllDoc[key as keyof typeof reallyAllDoc]}
            />

            <div class="divider"></div>
        ))
    }
    {
        mode === "KaboomCtx" && kaboomDocKeys.map((key: string) => (
            <ReferenceEntry
                name={key}
                type={kaboomDoc[key]}
            />
        ))
    }
</main>
