---
import doc from "@/../doc.json";
import ReferenceEntry from "./ReferenceEntry.astro";
const kaboomDoc: any = doc.types.KaboomCtx[0].members;
const kaboomDocKeys: any = Object.keys(kaboomDoc) as Array<
    keyof typeof kaboomDoc
>;
---

<main>
    {
        kaboomDocKeys.map((key: string) => (
            <ReferenceEntry
                name={key}
                type={kaboomDoc[key]}
            />
        ))
    }
</main>
