---
import { Code } from "astro:components";

type Props = {
    type: any;
};

const { type } = Astro.props;

export const getExample = (type: any) => {
    return type.jsDoc?.tags?.example?.join("").replace(/^```js\s+|```$/g, "")
        ?? "";
};
---

<p>
    {
        type.jsDoc?.tags?.example && (
            <Code
                code={getExample(type)}
                lang="js"
                class="p-2 rounded-md"
            />
        )
    }
</p>
