on:
  pull_request: 
    branches: ["main"]

jobs:
  check:
    name: "Deploy v4000 Docs on Cloudflare Workers"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm i
      - name: Run checker 
        run: pnpm check 
